# --------- pytorch --------- #
torch>=1.10.0
torchvision>=0.11.0
pytorch-lightning==1.8.2
torchmetrics==0.10.3
datasets==2.8.0
debugpy==1.6.3
numpy==1.19.5
transformers==4.24.0
matplotlib==3.6.2
sentencepiece==0.1.97
nltk==3.8.1
spacy==3.5.0
git+https://github.com/pattern3/pattern.git

# --------- hydra --------- #
hydra-core==1.2.0
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
# wandb
# neptune-client
# mlflow
# comet-ml

# --------- others --------- #
pyrootutils     # standardizing the project root setup
pre-commit==2.21.0      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
sh              # for running bash commands in some tests
